* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

fieldset {
    padding: 15px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

#form fieldset {
    display: grid;
    justify-items: end;
    gap: 5px;
}

#form .checkbox-container {
    justify-self: start;
}

#form input[type='submit'] {
    justify-self: stretch;
}

.random-button-group {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: rgb(211, 211, 211);
    gap: 10px;
    padding: 20px;
    overflow-y: scroll;
    align-content: start;
}

.book {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    display: grid;
}

.book div input {
    display: inline;
}

.book button {
    display: block;
}